<template name="home">

  <div class="sheerBg">
	<h1>We believe in Better Business.</h1>
	<h3>Voluntary trade means that both parties agree: their exchange will make for a better life.</h3>
	<h2>We invite you to hear the value propositions of these exceptional businesses.</h2>
	<h1>Every Better Business makes an impact.</h1>
	<h2>By being listed here, each business assesses its impact not only for itself and its customers...</h2>
	<h3>The businesses here describe their relationship to their suppliers, employees, and other parties that are often neglected in casual purchases.</h3>
	<h2>When we compel businesses to be transparent, to think about their impact, and to glorify their beneficence, everyone is better off.</h2>
	<h1>Buy Better, Be Better.</h1>

	<h3><a href="{{pathFor 'saturn'}}">Why Saturn?</a></h3>

  </div>

</template>