<template name="layout">

<head>
  <title>BBD -- Shopping Better!</title>

  <link href='https://fonts.googleapis.com/css?family=Fredoka+One|Josefin+Slab:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  
</head>
<body>
	{{> nav}}
	{{> yield}}
</body>

</template>




<template name="nav">
	<div class="topBannerSpacer"></div>
	<nav id="topBanner">
		<a href="http://betterbetterbetter.org" target="_blank"><div id="b3logo" class="contain-image"></div></a>
		<ul>
			<li><a href="{{pathFor 'home'}}">Home</a></li>
			<li><a href="{{pathFor 'allListings'}}">Listings</a></li>
			<li><a href="{{pathFor 'mapPage'}}">Map</a></li>
			<li>	{{> loginButtons align="right"}}</li>
		</ul>
	</nav>
</template>

<template name="footer">
	<div id="footer">
		<h3><a target="_self" href="{{pathFor 'new'}}">Own a business?</a></h3>
	</div>
	
</template>