<template name="layout">

<body>
	{{> nav}}
	{{> yield}}
</body>

</template>




<template name="nav">
	<div class="topBannerSpacer"></div>
	<nav id="topBanner">
		<a href="http://betterbetterbetter.org" target="_blank"><div id="b3logo" class="contain-image"></div></a>
		<ul>
			<li><a href="{{pathFor 'home'}}">Home</a></li>
			<li><a href="{{pathFor 'allListings'}}">Listings</a></li>
			<li><a href="{{pathFor 'mapPage'}}">Map</a></li>
			<li>	{{> loginButtons align="right"}}</li>
		</ul>
	</nav>
</template>

<template name="footer">
	<div id="footer">
		<span><a target="_self" href="{{pathFor 'new'}}">Own a business?</a></span>
		<span><a target="_self" href="{{pathFor 'privacy'}}">Privacy Policy</a></span>
	</div>	
</template>


