<template name="saturn">

<div class="sheerBg">
	<h1>Why Saturn?</h1>
    <table id="saturnInfo" class="">
      <colgroup>
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
        <col width="5%"><col width="5%">
      </colgroup>
      <tr>
      	<th colspan="20">
	      	<h2>To the Ancients, Saturn represented responsibility, integrity, and reaping what you sow.</h2>
		</th>
      </tr>
      <tr>
      	<td colspan="16" class="left">
	      	<h3>He was traditionally represented as an old man, the father of Jupiter/Zeus and the other Olympians.</h3>
	      	<h3>Pictured with a scythe (an ancient instrument for reaping crops), he came to symbolize the inevitability of death and the importance of living a life according to divine law, a life of meaning and purpose.</h3>
	      	<h3>It is in our darkest hour, that of death, that the value of life comes into focus. By thinking of that big picture today, Saturn encourages us to make the most of our finite resrouces.</h3>
		</td>
      	<td colspan="3">
	      	<div class="contain-image" id="kronos"></div>
		</td>
      </tr>
      <tr>
      	<td colspan="3">
      		<div class="contain-image" id="saturn-god"></div>
		</td>
      	<td colspan="17" class="right">
      		<h3>Ruling over the astrological sign of Capricorn and the barren season of winter, Saturn demands humility and foresight.</h3>
      		<h3>While Saturn as an old man appears to be vulnerable and decrepit, broken with years of hard work and strict discipline, it is in the final realization of his life that he becomes the true king of the golden age.</h3>
      		<h3>The alchemical stone of Saturn is lead, a toxic yet malleable metal, which through Saturnian discipline becomes metaphorically transmuted into <span style="color: #dcbd19;">gold</span>.</h3>
		</td>
      </tr>
      <tr>
      	<td colspan="17" class="left">
      		<h1 style="text-align: center">This is a metaphor for modern business.</h1>
      		<h3>A good business must evaluate the big picture, behave as a responsible steward of the future, and act with diligence to transform our action into merit.</h3>
      		<h3>The sacrifice necessary for successful entrepreneurship yields incredible benefits.</h3>
      		<h3>All that is required is genuine responsibility to the consumers, employees, and environment.</h3>
		</td>
		<td colspan="3">
      		<div class="contain-image" id="saturnCoin"></div>
		</td>
      </tr>
    </table>

</div>
{{> footer}}
</template>